.cases {
  position: relative;

  .cases-wrapper {
    position: relative;

    .case-container {
      display: flex;
      margin: 0;

      @include desktop {
        justify-content: space-between;
        margin-bottom: 64px;
      }

      @include mobile {
        width: 100%;
        margin: 0 0 128px 0;
        padding: 0 32px;

        &:before {
          display: block;
          content: ' ';

          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 8px;
          height: 100%;
          margin: unset;
          padding-top: 48px;
        }

        &.mude-cases::before {
          background-color: $color-project-mude;
        }
        &.futuur-cases::before {
          background-color: $color-project-futuur;
        }
      }

      .content-list {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @include mobile {
          position: relative;
          margin: auto;
          margin-top: 32px;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        .postPreview {
          display: flex;
          align-items: center;

          @include desktop {
            width: 100%;
            margin-bottom: 128px;
            justify-content: space-between;
            flex-direction: row;
          }

          @include mobile {
            margin-top: 32px;
            flex-direction: column-reverse;
            margin-bottom: 64px;
            width: unset;
          }

          &:first-child {
            margin-top: unset;
          }

          .content-container {
            @include desktop {
              width: 50%;
              padding-right: 32px;
            }

            h3 {
              display: inline-block;
              word-break: break-word;

              .titleContainer a {
                font-family: $font-serif;
                font-weight: 800;
                font-size: 30px;
                transition: all 0.2s $easing-bezier-fast;
                text-decoration: none;

                &.post-number {
                  font-weight: 100;
                  display: inline-block;
                  margin-right: 12px;
                }

                @include desktop {
                  font-style: italic;
                  letter-spacing: 0.05em;
                }

                @include mobile {
                  font-size: $font-size--medium;
                  letter-spacing: 0.05em;
                }

                &:hover {
                  opacity: 0.5;
                  svg {
                    transform: scale(1.5);
                  }
                  &::after {
                    opacity: 0.5;
                  }
                }
              }
            }

            .posted {
              font-family: $font-serif;
              text-transform: capitalize;
              font-size: $font-size--very-small;
              margin: 8px auto;
              @include themed() {
                color: t($text-secondary);
              }
            }

            .preview-text {
              margin: 16px 0 32px 0;
              font-family: $font-sans;
              font-size: 18px;
              line-height: 1.2em;
              font-weight: $font-weight--regular;
              @include themed() {
                color: t($text);
              }
            }
            .postCTA {
              font-family: $font-sans;
              font-size: 18px;
              text-transform: uppercase;
              text-decoration: underline;
              font-weight: $font-weight--bold;
              @include themed() {
                color: t($primary);
              }
            }
          }
          .cover-container {
            background: transparent;
            width: 50%;
            max-height: 400px;
            position: relative;
            overflow: hidden;

            img {
              cursor: pointer;
              width: 100%;
              height: auto;
              position: absolute;
            }

            @include mobile {
              width: 100%;
              margin-bottom: 24px;
            }
          }
        }
      }

      &.otherWork-cases {
        flex-direction: column;
        padding-top: 64px;
        margin: unset;

        @include mobile {
          padding-top: 0;
        }

        .content-list {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          @include desktop {
            justify-content: space-between;
          }

          .postPreview {
            margin-bottom: 32px;
            border-bottom: 1px solid $color-outline;
            padding-bottom: 32px;

            @include desktop {
              display: inline-block;
              flex-direction: row;
              width: 100%;
            }
            @include mobile {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
